body{
	overflow: hidden;
}

.topbar .logo{
width: 90px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.topbar{
	position: absolute;
	top:0px;
	left: 0px;
	right:0px;
	height: 100px;
	border-bottom: solid 2px green;
}

.page{
	position: absolute;
	top: 105px;
	left: 0px;
	right:0px;
	bottom:0px;
	background: #F7F6F6;
	  overflow: auto;
	  
	  text-align: center;
}



.favourites{
	width: 90%;
	margin: 7.5%;
}

.titles{
	width: 90%;
	margin: 7.5%;
}

.titles>tbody>tr>td{
	width: 50%;
	height: 225px;
	padding:0px;
	text-align: center;
}

.titles>tbody>tr>td>div{
	width:85%;
	height:90%%;
		border: 2px solid #dfdfdf;
	border-radius: 23px;
	background: white;
}

.titlesLable{
  background: #2E75B6;
  color: white;
  padding: 12px;
  font-weight: bolder;
  font-family: monospace;
  border-radius: 0px 0px 19px 19px;
  position: relative;
  top: 160px;
  left: 0px;
  right: 0px;
}

.iconoComida{
font-size: 64px;
  color: #2E75B6;
}



.iconoEntrete{
font-size: 64px;
  color: #FF5050;
}

.iconoSalud{
font-size: 64px;
  color: #3D9D46;
}

.iconoMascota{
font-size: 64px;
  color: #FFC000;
}

.iconoTransporte{
font-size: 64px;
color:#ED7D31;
}

.iconoAbast{
font-size: 64px;
color:#662583;
}
.iconoDeporte{
font-size: 64px;
color:#404040;
}

.iconoHospe{
font-size: 64px;
  color: #2E75B6;
}


/* Menu */
#modal {
position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(20,20,20,0.8);
  z-index: 10;
  
  display: none;
}
#mainMenu{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	
	width:80%;
	background: white;
	z-index: 11;
	
	margin-right: -80%;
}

#mainMenu>div:nth-child(1){
	width: 100%;
	height: 100px;
	background-color: #6EBD61;
	
}

#mainMenu>div:last-child{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background: rgba(37,37,26,0.8);
  font-size: 33px;
  text-align: center;
  color: #efefef;
  font-family: monospace;
  padding: 0;
  display: table-cell;
  line-height: 68px;
  vertical-align: middle;
	  
}

.menuNav{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;
}

.menuNav td{
	padding: 5px;
	color: #DFEDD6;
}

.menuNav td.active{
	color: #629C44;
}

.menuNav .fa-cog{
  font-size: 46px;
}

.menuNav .fa-gift{
  font-size: 48px;
}

.menuNav .fa-search{
  font-size: 40px;
}

#mainMenu .userPicture{
  border: 2px solid #336533;
  border-radius: 360px;
  height: 64px;
  width: 64px;
  position: absolute;
  left: 16px;
  top: 16px;
}

#Categories .userPicture{
  border: 2px solid #dfdfdf;
  border-radius: 360px;
  height: 84px;
  width: 84px;
  margin-top: 10px;
}


.favourites{
	 border: 2px solid #dfdfdf;
	   width: 85%;
		margin: 7%;
		 border-spacing: 0px;
		 border-radius:23px;
}

.favourites td{
	width : 30%;
	 border: 1px solid #dfdfdf;
	 border-top: 0px;
	 border-bottom: 0px;
	 margin: 0px;
	 
	 height: 80px;
	 
	 font-size: 32px;
	 color: #C1C0C0;

	  
}

.favourites td:nth-child(1){
	 border-left:0px;
}


.favourites td:last-child{
	width : 10%;	
	 border-right:0px;
	 margin: 0px;
	 
	 height: 80px;
	 font-size: 1em;
	 color: #336533;
}





